![rmotr](https://i.imgur.com/jiPp4hj.png)
<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/7065401/39117173-a433bf6a-46e6-11e8-8a40-b4d4d6422493.jpg"
    style="width:300px; float: right; margin: 0 40px 40px 40px;"></img>

# Missing Data

![separator2](https://i.imgur.com/4gX5WFr.png)

## Hands on!

In [9]:
import numpy as np
import pandas as pd

What does "missing data" mean? What is a missing value? It depends on the origin of the data and the context it was generated. For example, for a survey, a _`Salary`_ field with an empty value, or a number 0, or an invalid value (a string for example) can be considered "missing data". These concepts are related to the values that Python will consider "Falsy":

In [10]:
falsy_values = (0, False, None, '', [], {})

For Python, all the values above are considered "falsy":

In [11]:
any(falsy_values)

False

Numpy has a special "nullable" value for numbers which is `np.nan`. It's _NaN_: "Not a number"

In [12]:
np.nan

nan

The `np.nan` value is kind of a virus. Everything that it touches becomes `np.nan`:

In [13]:
3 + np.nan

nan

In [14]:
a = np.array([1, 2, 3, np.nan, np.nan, 4])

In [15]:
a.sum()

np.float64(nan)

In [16]:
a.mean()

np.float64(nan)

This is better than regular `None` values, which in the previous examples would have raised an exception:

In [17]:
3 + None

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

For a numeric array, the `None` value is replaced by `np.nan`:

In [ ]:
a = np.array([1, 2, 3, np.nan, None, 4], dtype='float')

In [ ]:
a

As we said, `np.nan` is like a virus. If you have any `nan` value in an array and you try to perform an operation on it, you'll get unexpected results:

In [ ]:
a = np.array([1, 2, 3, np.nan, np.nan, 4])

In [ ]:
a.mean()

In [18]:
a.sum()

np.float64(nan)

Numpy also supports an "Infinite" type:

In [19]:
np.inf

inf

Which also behaves as a virus:

In [20]:
3 + np.inf

inf

In [21]:
np.inf / 3

inf

In [22]:
np.inf / np.inf

nan

In [28]:
b = np.array([1, 2, 3, np.inf, np.nan, 4], dtype=float)
# or
b = np.array([1, 2, 3, np.inf, np.nan, 4], dtype=np.float64)
# Use the built-in float or np.float64 for dtype instead of np.float

In [29]:
b.sum()

np.float64(nan)

![separator1](https://i.imgur.com/ZUWYTii.png)

### Checking for `nan` or `inf`

There are two functions: `np.isnan` and `np.isinf` that will perform the desired checks:

In [30]:
np.isnan(np.nan)

np.True_

In [31]:
np.isinf(np.inf)

np.True_

And the joint operation can be performed with `np.isfinite`.

In [32]:
np.isfinite(np.nan), np.isfinite(np.inf)

(np.False_, np.False_)

`np.isnan` and `np.isinf` also take arrays as inputs, and return boolean arrays as results:

In [33]:
np.isnan(np.array([1, 2, 3, np.nan, np.inf, 4]))

array([False, False, False,  True, False, False])

In [34]:
np.isinf(np.array([1, 2, 3, np.nan, np.inf, 4]))

array([False, False, False, False,  True, False])

In [35]:
np.isfinite(np.array([1, 2, 3, np.nan, np.inf, 4]))

array([ True,  True,  True, False, False,  True])

_Note: It's not so common to find infinite values. From now on, we'll keep working with only `np.nan`_

![separator1](https://i.imgur.com/ZUWYTii.png)

### Filtering them out

Whenever you're trying to perform an operation with a Numpy array and you know there might be missing values, you'll need to filter them out before proceeding, to avoid `nan` propagation. We'll use a combination of the previous `np.isnan` + boolean arrays for this purpose:

In [36]:
a = np.array([1, 2, 3, np.nan, np.nan, 4])

In [37]:
a[~np.isnan(a)]

array([1., 2., 3., 4.])

Which is equivalent to:

In [38]:
a[np.isfinite(a)]

array([1., 2., 3., 4.])

And with that result, all the operation can be now performed:

In [39]:
a[np.isfinite(a)].sum()

np.float64(10.0)

In [40]:
a[np.isfinite(a)].mean()

np.float64(2.5)

![separator2](https://i.imgur.com/4gX5WFr.png)